/* FireTR-v2 Operational System */

/* Open Source project */

/* FireInc company 2024 */

@font-face {
  font-family: 'Caveat';
  src: url('../assets/fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Caveat';
  src: url('../assets/fonts/Caveat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Caveat';
  src: url('../assets/fonts/Caveat-Bold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Caveat';
  src: url('../assets/fonts/Caveat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

#desktop {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  z-index: 0;
  filter: brightness(100%);
}

.appsDiv {
  height: calc(100% - 50px);
}

.appsDiv a {
  display: block;
  width: calc(100vw / 16);
  height: calc(100vw / 16);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.422);
  color: white;
  font-family: caveat;
}

.navbar__left,
#navbar__right {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.3em;
}

.navbar__left {
  justify-content: start;
  margin-left: 10px;
}

.navbar__right {
  margin-right: 10px;
  font-size: 1.5em;
}

.fireTR-icon:hover {
  opacity: 0.8;
}

.desktopWindow {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  position: absolute;
  font-family: caveat;
  color: white;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
}

.desktopWindow:first-child {
  margin-top: 10px;
}
.navbar__launch-button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 0;
}

.centered {
  text-align: center;
  margin-bottom: 10px;
}

.centered-flex {
  display: flex;
  justify-content: center;
}
