/* FireTR-v2 Operational System */

/* Open Source project */

/* FireInc company 2024 */

* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
#desktop {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('images/bg.png');
  background-size: cover;
  flex-direction: column;
  z-index: 0;
  filter: brightness(100%);
}

.appsDiv {
  height: calc(100% - 50px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.422);
  color: white;
  font-family: cursive;
}

.navbar__left,
#navbar__right {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__left {
  justify-content: start;
  margin-left: 10px;
}

.navbar__right {
  justify-content: end;
  margin-right: 10px;
}

.fireTR-icon:hover {
  opacity: 0.8;
}

.desktopWindow {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  position: absolute;
  font-family: cursive;
  color: white;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
}

.desktopWindow:first-child {
  margin-top: 10px;
}

#launch {
  display: none;
  position: absolute;
  z-index: 5;
  top: calc(100% - 560px);
  left: 10px;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 5%;
}

.navbar__launch-button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 0;
}
